* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif!important;
}
h1{
    background-color: rgb(232, 215, 194);
    color: rgb(237, 177, 100);
}
.input, .task{
    background-color: hsl(250, 12%, 80%)!important;
}
/* Input form style */
.inputTask {
    width: 50%;
    margin: 20px auto;
    border-radius: 3%;
    color: #605858;
    background-color: #d9d9d9;
    font-weight: 700;
}

.inputTask h2{
    text-align: center;
    padding-top: 10px;
}

.newTask {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;

}

.newTask div {
    margin: 20px 0;
    position: relative;

}

.info{
    position: absolute;
    right: 0;
    width: 50%;
    border-radius: 5px;
    border:1px solid #605858;
}

.btn {
    display: flex;
    justify-content: space-around;
    

}

.reset {
    background-color: #ffc107;
    color: #605858;
    font-weight: 700;
}

.submit {
    background-color: #198754;
    color: #605858;
    font-weight: 700;
}

button {
    border:0px;
    border-radius: 5px;
    color: #605858;
    font-weight: 700;
}


/* Task box style */

.box-2{
    background-color: rgba(255, 119, 0, 0.846)!important;
}
.box-5{
    background-color: rgba(210, 147, 238, 0.9)!important;
}
.box-6{
    background-color: rgba(205, 74, 203, 0.9)!important;
}
.rotated-left {
    transform: rotate(-5deg); 
  }
.rotated-right {
    transform: rotate(5deg); 
  }
