* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    background: url('https://wallpaper.dog/large/20487259.jpg') no-repeat;
    background-size: cover;
}

/* Login Page */
.login-form {
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
}

.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    font-weight: bold;
}

.login-form p {
    font-size: 25px;
    margin: 15px 0;
    font-weight: bold;
}

.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button {
    font-size: 25px;
    font-weight: bold;
    margin: 20px, 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
}

/* Heading style */
h1 {
    background-color: rgb(232, 215, 194);
    color: rgb(237, 177, 100);
}

/* Task box style */
.task {
    background-color: hsl(250, 12%, 80%) !important;
}

.box-2 {
    background-color: rgba(255, 119, 0, 0.846) !important;
}

.box-5 {
    background-color: rgba(210, 147, 238, 0.9) !important;
}

.box-6 {
    background-color: rgba(205, 74, 203, 0.9) !important;
}

.rotated-left {
    transform: rotate(-5deg);
}

.rotated-right {
    transform: rotate(5deg);
}

/* yi add 2022.11.23 */
.nameError {
    display: none;
    font-size: 0.8em;
}

.visible {
    display: block;
}

input.invalid {
    border-color: red;
}

/* yi add */