* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif !important;
    background: url('https://wallpaper.dog/large/20487259.jpg') no-repeat;
    background-size: cover;
}

/* Heading style */
h1 {
    background-color: rgb(232, 215, 194);
    color: rgb(237, 177, 100);
}

/* Task box style */
.task, #cDateTime{
    background-color: hsl(250, 12%, 80%) !important;
}

/* yi add 2022.11.23 */
.nameError {
    display: none;
    font-size: 0.8em;
}

.visible {
    display: block;
}

input.invalid {
    border-color: red;
}

/* yi add */